.container{
  display: flex;
  gap: 25px;
  width: 100%;
  margin-top: 2rem;
  border: 1px solid transparent;
  margin-bottom: 2rem;
}

.container img{
  height: 50px;
  width: 50px;
  margin-top: 1rem;
  margin-left: 1rem;
}


.container .shipping{
  background-color: white;
  box-shadow: 0 10px 20px rgba(0,0,0,0.09),0 0 1px rgba(0, 0, 0, 0.285);
  width: 49%;
  
}

.container .available{
  background-color: white;
  box-shadow: 0 10px 20px rgba(0,0,0,0.09),0 0 1px rgba(0, 0, 0, 0.285);
  width: 49%;
}

.container  .availableText p{ 
 margin-left: 1rem;
 margin-right: 1rem;
 
}
.container .available .availableText .red{
  color: red;
  font-weight: 600;
  margin-bottom: 1.5rem;
}

.container .available .availableText .green{
  color: rgb(0, 225, 0);
  font-weight: 600;
  margin-bottom: 1.5rem;

}

.shippingFree{
  margin-bottom: 1.5rem;

}
.manjaP{
  font-size: 0.8rem;
  color: rgb(161, 161, 161);
  margin-bottom: 2rem;
}

