.container{
  margin-right: 2rem;
  margin-left: 2rem;
}

.mainImage{
  display: flex;
  justify-content: center;
  width: 100%;
}



.photos{
  display: flex;
  flex-direction: row;
  justify-content: center;
  margin-top: 20px;
  gap:20px
}


.photos div .photoSlider{
  display: flex;
}


@media only screen and (max-width: 800px){
  .photos{gap:10px}
}

.photos .back{
  border-bottom: 2px solid rgb(57, 57, 57);
  
  box-shadow: 0 4px 8px -2px rgba(0, 0, 0, 0.32)

}
.photos  .photoSlider img.singlePhoto {
  width: 80px;
  height: 80px;
}



