.container{
  margin-top: 50px;
}
.error{
  margin-left: 10px;
  margin-right: 10px;
  margin-top: 3rem;
  font-family: 'Montserrat', sans-serif;
  text-align: center;
  justify-content: center;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.error h4{
  margin-top: 40px;
}

.error img{
  height: 100px;
  width: 100px;
 
}


.imgContainer{
  display: flex;
  padding: 20px;
  margin-bottom: 40px;
  background-color: rgba(255, 0, 0, 0.391);
  border-radius: 50%;
  height: 120px;
  width: 120px;
  justify-content: center;
  align-items: center;

}