
.container{
  margin: auto;
}

.buttons .continue{
  display: flex;
  text-decoration: none;
  margin: auto;
  justify-content: center;
  align-items: center;
  background-color: #5151ff;
  background: #007aff;
  box-shadow: 0 2px 4px -2px rgba(0,122,255,0.8);
  border-radius: 4px;
  transition: .2s;
  border: 1px solid transparent;
  color: #fff;
  font-family: "Rubik",sans-serif;
  font-weight: 500;
  line-height: 0;
  margin-top: 0rem;
  white-space: nowrap;
  cursor: pointer;
  vertical-align: middle;
  margin-left: 10px;
  margin-right: 10px;
  margin-bottom: 25px;
 
}

.buttons .editShipping{
  display: flex;
  text-decoration: none;
  margin: auto;
  justify-content: center;
  align-items: center;
  background-color: rgb(255, 255, 255);
  background: #ffffff;
  box-shadow: 0 2px 4px -2px rgba(47, 47, 47, 0.8);
  border-radius: 4px;
  transition: .2s;
  border: 1px solid transparent;
  color: #000000;
  font-family: "Rubik",sans-serif;
  font-weight: 500;
  line-height: 0;
  margin-top: 0rem;
  white-space: nowrap;
  cursor: pointer;
  vertical-align: middle;
  margin-left: 10px;
  margin-right: 10px;
  margin-bottom: 15px;
}
.buttons .editShipping:hover{
  background-color:#f1f1f1;;
  transition: 0.3s;
  border: #5f5f5f solid 1px;

}


.buttons .continue:hover{
  background-color:#47a0ff;;
  transition: 0.3s;
  border:#007aff solid 1px;

}

.buttons .continue img{ 
  width: 25px;
  height: 25px;
  margin-left: 10px;
}

.buttons .editShipping img{
  width: 22px;
  height: 22px;
  margin-left: 10px;
}
.backgroundOfIcon{
  margin-left: 10px;
  background-color: #007aff;
  border-radius: 50%;

}